################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentApplication/.vs/StudentApplication
/StudentApplication/StudentApplication/bin/Debug/netcoreapp3.1
/StudentApplication/StudentApplication/obj
